@mixin flex-style($flow, $justify) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
}

body {
  background-color: #FFFFFF;
}

div {
  border: 1px solid black;
}

#column-wrapper {
  @include flex-style(row wrap, space-around);

  width: 100%;

  .column-component {
    width: 300px;

    .card-component {
      margin: 20px;
    }
  }
}