body {
  background-color: #FFFFFF; }

div {
  border: 1px solid black; }

#app-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%; }
  #app-container .column-component {
    width: 30%; }
